.reveal-animation.ng-enter {
  -webkit-animation: enter_sequence 1s linear;
  /* Safari/Chrome */

  animation: enter_sequence 1s linear;
  /* IE10+ and Future Browsers */

}
@-webkit-keyframes enter_sequence {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes enter_sequence {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
img {
  border: none;
}
img:hover {
  border: none;
}
.bg-blue2 {
  background-color: #009AAC;
}
.bg-purple2 {
  background-color: #A100A8;
}
.bg-blue3 {
  background-color: #0A56BF;
}
.bg-blue4 {
  background-color: #2D88EF;
}
.bg-orange2 {
  background-color: #DA542D;
}
.bg-green2 {
  background-color: #009A00;
}
.inf-box {
  margin: 10px 5px;
  height: 135px;
  width: 98%;
  color: #ffffff;
}
.inf-box .lable {
  font-size: 18px;
  font-weight: bold;
  line-height: 25px;
  padding: 10px 10px 0px 10px;
  color: #ffffff;
}
.inf-box .info {
  line-height: 30px;
  text-align: right;
  padding: 10px;
  font-weight: bold;
  font-size: 20px;
}
.inf-box .status {
  padding-top: 5px;
}
.inf-box .uvp-error {
  display: block;
  height: 15px;
  width: 15px;
  background-color: #9d261d;
  border: 1px solid #ffffff;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
.inf-box .uvp-waring {
  display: block;
  height: 15px;
  width: 15px;
  background-color: #ffc40d;
  border: 1px solid #ffffff;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
.inf-box .uvp-normal {
  display: block;
  height: 15px;
  width: 15px;
  background-color: #46a546;
  border: 1px solid #ffffff;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
.progress-box {
  padding: 10px 30px;
}
.progress-lable {
  font-weight: bold;
  padding-right: 10px;
  font-size: 15px;
  float: left;
}
.progress-addinfo {
  text-align: right;
  margin-top: -20px;
  font-size: 12px;
  font-weight: bold;
}
.clickable {
  cursor: pointer;
}
.uvp-table {
  width: 100%;
}
.uvp-table tr {
  align: center;
}
.form-table tr {
  height: 40px;
}
.uvptile {
  font-size: 16px;
  font-weight: bold;
  line-height: 30px;
  color: #049cdb;
  border-bottom: 1px solid #0066dd;
}
.space {
  margin-bottom: 5px;
}
space-right {
  padding-right: 10px;
}
.center {
  text-align: center;
}
.uvp-chart {
  min-width: 310px;
  height: 230px;
  margin: 0 auto;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.navbar {
  border-bottom: 1px skyblue solid;
}
.uvp-sider-nav {
  background-color: #2b83ed;
  font-size: 15px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}
.uvp-sider-nav a {
  color: #ffffff;
  text-decoration: none;
  display: block;
}
.uvp-sider-nav .nav-active {
  background-color: #004784;
}
.uvp-sider-nav .menu-item {
  line-height: 32px;
  border-bottom: 1px solid #004784;
}
.uvp-container {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}
.uvp-container .container {
  padding: 10px 20px;
}
.cluster .clusterinfo {
  text-align: center;
}
.cluster .clusterinfo .runtime {
  display: block;
  line-height: 40px;
  font-weight: bold;
  vertical-align: 40px;
  height: 40px;
  width: 80px;
  display: inline-block;
  border: 1px solid #ffffff;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
}
.instance .modal {
  left: 40%;
}
.instance .dropdown-menu {
  text-align: left;
}
.instance #volumeModal,
.instance #snapshotModal {
  width: 900px;
  left: 40%;
}
.instance #createInstanceModal {
  top: 0px;
}
.volume .modal {
  left: 40%;
}
.volume #snapshotModal {
  width: 900px;
  left: 40%;
}
.image #createInstanceModal {
  top: 0px;
}
.host .modal {
  left: 40%;
}
